{
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "ts-react-important-stuff"
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "jsx-a11y/control-has-associated-label": "off",
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "no-console": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ]
  }
}
