$white: white;
$red: red;

body {
  padding: 0;
  margin: 0;
  background-color: hsl(350, 33%, 96%, 1);
}

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.container {
  padding-top: 70px;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
  width: 100%;
  height: 5vh;
  align-items: center;
  align-content: center;
  background-color: #099c73;
  padding: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.14),
  0 3px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.header-title {
  padding-left: 8px;
}

// small loader

.small-loader{
  position: absolute;
  width: 60%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #282c34;
}

@keyframes ldio-h22nyabbwol {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg);
  }
}

.ldio-h22nyabbwol > div {
  animation: ldio-h22nyabbwol 1s infinite linear;
  transform-origin: 50px 50px;
}

.ldio-h22nyabbwol > div div {
  position: absolute;
}

.ldio-h22nyabbwol > div div:nth-child(1), .ldio-h22nyabbwol > div div:nth-child(2) {
  width: 78px;
  height: 78px;
  border: 8px solid;
  border-radius: 50%;
  border-color: transparent #099c73 #099c73 #099c73;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 50px 50px;
}

.ldio-h22nyabbwol > div div:nth-child(1) {
  transform: rotate(45deg) translate(11px, 11px);
}

.ldio-h22nyabbwol > div div:nth-child(2) {
  transform: rotate(0deg) translate(11px, 11px);;
}

.ldio-h22nyabbwol > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: transparent transparent transparent #099c73;
  transform: translate(50px, 5px);
}

.loadingio-spinner-reload-sw831pn7az {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: #282c34;
}

.ldio-h22nyabbwol {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.8);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-h22nyabbwol div {
  box-sizing: content-box;
}

// button

.btn {
  padding: 16px 28px;
  font-size: 14px;
  line-height: 1;
  font-weight: 800;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: 0.2s ease-out;
  cursor: pointer;
  margin-top: 20px;

  &--red {
    color: $red;
    border-color: $red;
    transition: .3s;

    &:hover {
      background-color: $red;
      color: $white;
    }
  }

  &--white {
    color: #343B43;
    background-color: $white;
    transition: .3s;
    width: 100px;

    &:hover {
      background-color: #DFE2E6;
      color: #343B43;
      transition: .3s;
    }
  }

  &--white-green {
    color: #099C73;
    background-color: $white;
    transition: .3s;
    width: 100px;

    &:hover {
      background-color: #DFE2E6;
      color: #099C73;
      transition: .3s;
    }
  }

  &--green {
    background: linear-gradient(125.2deg, #099c73 8.04%, #015462 127.26%);
    color: $white;
    border: none;
    transition: .3s;

    &:disabled {
      background: linear-gradient(125.2deg, rgba(9, 156, 115, 0.6) 8.04%, rgba(1, 84, 98, 0.6) 127.26%);

      &:hover {
        background: linear-gradient(125.2deg, rgba(9, 156, 115, 0.6) 8.04%, rgba(1, 84, 98, 0.6) 127.26%);
      }
    }

    &:hover {
      background: linear-gradient(180deg, #018687 22.33%, #014456 112.08%);
      color: $white;
    }
  }
}

.coords-container{
  display: flex;
  gap: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.power-ball-container {
  display: flex;
  height: 33vh;
  overflow-y:auto;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
  &::-webkit-scrollbar {
    width: 7px;
    cursor: pointer;
    background: #b9c3cd;
  }

  &::-webkit-scrollbar-thumb:horizontal:hover {
    background: #94a3be;
    border-radius: 2px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background: #7b879f;
    border-radius: 2px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }
}

.powerball-address {
  border: 1px solid #779199;
  border-radius: 5px;
  background-color: #343B43;
  padding: 10px;
  width: 50%;
  align-items: center;
  margin: 5px;
}

.powerball-name {
  font-size: 16px;
}

.powerball-street {
  font-size: 10px;
}

.latitude-text {
  font-size: 16px;
}

.input-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;
}

input[type="text"] {
  height: 22px;
  padding: 10px;
}

.button-container {
  display: flex;
  gap: 0 20px;
  justify-content: center;
  flex-wrap: wrap;
}